<div [formGroup]="form" class="form-group" [ngClass]="{'view' : disable, 'form-check' : question.controlType == 'checkBox'}" [ngSwitch]="question.controlType">
 
  <!-- <div [ngSwitch]="question.controlType"> -->
 	<label [attr.for]="question.key" *ngIf="question.controlType != 'checkBox'">{{question.label}}</label>

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type" class="form-control">
    <input *ngSwitchCase="'range'"  type="range" class="custom-range" [min]="question.options.min" [max]="question.options.max" [step]="question.options.step" [formControlName]="question.key" [id]="question.key" [type]="question.type" class="form-control">
    <textarea *ngSwitchCase="'textarea'" [formControlName]="question.key" [id]="question.key"   row="question.row" class="form-control"></textarea>
 
    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="form-control">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>
    
    <select [id]="question.key" *ngSwitchCase="'SelectMultiple'" [formControlName]="question.key" class="form-control" multiple>
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

<!--     <input *ngSwitchCase="'simpleRange'" type="range" class="custom-range" min="{{question.options.min}}" max="{{question.options.max}}" step="{{question.options.step}}" [id]="question.key" [formControlName]="question.key">     -->
<!-- 	<mat-slider  *ngSwitchCase="'simpleRange'" [min]="question.options.min" [max]="question.options.max" [(ngModel)]="question.value" [step]="question.options.step" [id]="question.key"  (MatSliderChange)="rangeValueUpdate($event)"></mat-slider> -->
<mat-slider *ngSwitchCase="'simpleRange'" [min]="question.options.min" [max]="question.options.max" [step]="question.options.step" (change)="rangeValueUpdate($event)" thumbLabel tickInterval="1"></mat-slider>
<!-- 	<input *ngSwitchCase="'simpleRange'" class="hidden-input" [formControlName]="question.key" [id]="question.key" [type]="question.type" class="form-control"> -->	<ng-container *ngSwitchCase="'checkBox'">
	 	<input  type="checkbox" class="form-check-input" [id]="question.key" [formControlName]="question.key">
	    <label [attr.for]="question.key" class="form-check-label">{{question.label}}</label>
	</ng-container>
<!--   </div> --> 
  <div class="alert alert-danger" *ngIf="!isValid && !disable && isTouched"> 

  	<p>{{question.label}} is required</p>
  </div>
</div>
