<app-bootcamp-helper-header></app-bootcamp-helper-header>
<div class="breadcrumbTop">
	<div class="col-md-12">  
		<ol class="breadcrumb">
	    	<li class="breadcrumb-item" *ngFor="let breadcrumb of  breadcrumbs ; let i =index" [ngClass]=" {'active' : i === breadcrumbs.length -1 }">

	    		<a *ngIf="i < breadcrumbs.length -1; else breadcrumbWLink" routerLink="{{breadcrumb.url}}" href="#">{{breadcrumb.title | capitalize}}</a>
	    		<!-- <ng-template #breadcrumbWLink>{{breadcrumb.title | capitalize}}</ng-template> -->
	    		<ng-template #breadcrumbWLink>{{breadcrumb.title}}</ng-template>
	    	</li>
	  	</ol>
  	</div>
</div>
<div class="container">
  <router-outlet></router-outlet>  
</div>