<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="Exercises" *ngIf="exercisesList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Description</th>
            <th class="h">Muscu</th>
            <th class="h">Cardio</th>
            <th class="h">Img path</th>
            <th class="h">GIf path</th>
            <th class="h">video path</th>
            <th class="h">Tools</th>
          </tr>
        </thead>
        <tbody>
          
          <tr class="exercise" (dblclick)="editExercise(exercise)" *ngFor="let exercise of exercisesList">

             <ng-container *ngIf="!editExercises.includes(exercise); else editTD"> 
              <td>{{exercise.title}}</td>
              <td>{{exercise.description}}</td>
              <td>{{exercise.type.muscu}}</td>
              <td>{{exercise.type.cardio}}</td>
              <td>{{exercise.media.img}}</td>
              <td>{{exercise.media.gif}}</td>
              <td>{{exercise.media.video}}</td>
              <td class="o">
                
              <button class="btn btn-primary" (click)="editExercise(exercise)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteExercise(exercise)">
                  <i  class="fa fa-trash"></i>
                </button>
              </td>  
             </ng-container> 
            
            <ng-template #editTD>
              <td>
                <input type="text" name="title" id="title" (keypress)="submitExercise($event, exercise)" [(ngModel)]="exercise.title" placeholder="Title" class="form-control">
              </td>
              <td>
                <input type="text" name="description" id="description" (keypress)="submitExercise($event, exercise)" [(ngModel)]="exercise.description" placeholder="Description"
                    class="form-control">
              </td>

              <td>
                  <input type="checkbox" name="muscu" id="muscu" (keypress)="submitExercise($event, exercise)" [(ngModel)]="exercise.type.muscu" placeholder="muscu" class="form-control">
              </td>
              <td>
                  <input type="checkbox" name="cardio" id="cardio" (keypress)="submitExercise($event, exercise)" [(ngModel)]="exercise.type.cardio" placeholder="cardio" class="form-control">
              </td>
              <td> 
                  <input type="text" name="Img_path" id="Img_path" (keypress)="submitExercise($event, exercise)" [(ngModel)]="exercise.media.img" placeholder="Img path" class="form-control">
              </td>
              <td> 
                  <input type="text" name="GIf_path" id="GIf_path" (keypress)="submitExercise($event, exercise)" [(ngModel)]="exercise.media.gif" placeholder="GIf path" class="form-control">
              </td>
              <td>  
                  <input type="text" name="video_path" id="video_path" (keypress)="submitExercise($event, exercise)" [(ngModel)]="exercise.media.video" placeholder="video_path" class="form-control">

              </td>
              <td class="o">
                <button class="btn btn-success" (click)="doneEditing(exercise)">
                  <i  class="fa fa-check"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteExercise(exercise)">
                  <i  class="fa fa-trash"></i>
                </button>
              </td>


            </ng-template>

             
           


          </tr>
        </tbody>
      </table>
    </div>


    <form>


        <div class="form-group">
          <label for="inputAddress">Title</label>
          <input type="text" name="title" id="title" [(ngModel)]="newExercise.title" placeholder="Title" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputAddress">Description</label>
          <input type="text" name="description" id="description" [(ngModel)]="newExercise.description" placeholder="Description" class="form-control"
            id="description">
        </div>        
        <div class="form-group">
          <label for="muscu">Muscu</label>
          <input type="checkbox"  id="muscu" [(ngModel)]="newExercise.type['muscu']" [ngModelOptions]="{name: 'muscu'}" name="muscu" placeholder="Muscu" class="form-control" id="muscu">
        </div>
        <div class="form-group">
          <label for="cardio">Cardio</label>
          <input type="checkbox"  id="cardio" [(ngModel)]="newExercise.type['cardio']" name="cardio" placeholder="cardio" class="form-control"
            id="cardio">
        </div>
        <div class="form-group">
          <label for="body_part">Example multiple select</label>
            <select multiple class="form-control" id="body_part" [(ngModel)]="newExercise.type.bodyPart" name="body_part" >
              <option>Abs</option>
              <option>Biceps</option>
              <option>Triceps</option>
              <option>Glutes</option>
              <option>Legs</option>
              <option>Shoulders</option>
              <option>Oblics</option>
              <option>Chest (middle)</option>
              <option>Chest (high)</option>
              <option>Chest (low)</option>
            </select>
        </div>
        <div class="form-group">
          <label for="Img_path">Img</label>
          <input type="texte" name="Img_path" id="Img_path" [(ngModel)]="newExercise.media.img" placeholder="Img_path" class="form-control"
            id="Img_path">
        </div>
        <div class="form-group">
          <label for="GIf_path">Gif</label>
          <input type="texte" name="GIf_path" id="GIf_path" [(ngModel)]="newExercise.media.gif" placeholder="GIf_path" class="form-control"
            id="GIf_path">
        </div>
        <div class="form-group">
          <label for="video_path">Video</label>
          <input type="texte" name="video_path" id="video_path" [(ngModel)]="newExercise.media.video" placeholder="video_path" class="form-control"
            id="video_path">
        </div>

        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>

    </form>
  </div>
  <div class="col-md-2">
    
  </div>
</div>