<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-bootcamp-helper-header></app-bootcamp-helper-header>
<div class="breadcrumbTop" *ngIf="breadcrumbDisplay">
	<div class="col-md-12">  
		<ol class="breadcrumb">
	    	<li class="breadcrumb-item" *ngFor="let breadcrumb of  breadcrumbs ; let i =index" [ngClass]=" {'active' : i === breadcrumbs.length -1 }">

	    		<a *ngIf="i < breadcrumbs.length -1; else breadcrumbWLink" routerLink="{{breadcrumb.url}}" href="#">{{breadcrumb.title | capitalize}}</a>
	    		<ng-template #breadcrumbWLink>{{breadcrumb.title}}</ng-template>
	    	</li>
	  	</ol>
  	</div>
</div>
<div class="container-fluid main" [ngClass]="{'main':breadcrumbDisplay , 'main-v-breadcrumb' : !breadcrumbDisplay}" >
	<div class="row">
	  	<nav class="col-md-1  bg-light sidebar" [@flyInOut] *ngIf="lateralMenuStatus">
	  		<div class="sidebar-sticky">
	  			<ul class="nav flex-column">
	  				<li class="nav-link" *ngFor="let m of menuSelected">
	  					<a class="lat-menu-nav" routerLink="{{section}}/{{m.link}}" href="*">
	  						<i class="lat-menu-ico" [ngClass]="m.ico"></i>{{m.title}}
	  					</a>
	  				</li>
	  			</ul>
	  		</div>
	  	</nav>


		<main class="{{mainDisplay}}" >

			<router-outlet></router-outlet>

		</main>
	</div>
	
</div>
		