* {
  box-sizing: border-box;
}

.count-down-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.count-down {
  align-items: center;
  justify-content: center;
/*  width: 350px; */
}

.value-input{
  
  text-align:center;

}

.lecteur {
  
  text-align: center;
}

h1{

  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.clockDigit h1{
  font-size: 175px;
  font-weight: 700;
  font-style:bold;
}

.clockDigit h2{
  font-size: 50px;
  font-weight: 200;
  min-width: 110px;
  padding-bottom: 1.5rem;
}

.clockDigit{

  display:flex;
  align-items:flex-end;


}