<div class="row">
	<table class="table table-hover">
		<thead class="thead-dark bg-primary">
			<tr>
		      <th>Title</th>
              <th>Description</th>
              <th>Muscu</th>
              <th>Cardio</th>        
              <th>Balance</th>        

		     </tr>        
		</thead>
		<tbody>
			<tr (dblclick)="displayExercise(exercise._id)" *ngFor="let exercise of exercisesList; let i =index" id={{i}}>
				<td>{{exercise.title}}</td>
	            <td>{{exercise.description}}</td>
	            <td>{{exercise.details.muscu}}</td>
	            <td>{{exercise.details.cardio}}</td>
	             <td>{{exercise.details.balance}}</td>
			</tr> 
      	</tbody>
	</table>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <!-- <nav aria-label="Page navigation"> -->
		<ul class="pagination justify-content-center" *ngIf="pagesInfo.totalPages > 1">
        <li class="page-item" [ngClass]="{'disabled': pagesInfo.currentPage === 1}" >
          <a class="page-link"  (click)="getExercice(pagesInfo.previousPage)">Previous</a>
        </li>
        <li *ngFor="let page of pagesInfo.pages" [ngClass]="{'page-item':true, 'active':page === pagesInfo.currentPage}">
          <a class="page-link"  (click)="getExercice(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': pagesInfo.currentPage === pagesInfo.totalPages}" >
          <a class="page-link"  (click)="getExercice(pagesInfo.nextPage)">Next</a>
        </li>
      </ul>

  	</div>
  	<div class="col-md-2"> 
	</div>
</div>
