.HeaderTable{
    border-top: 1px solid #DEE2E6;
    border-bottom: 2px solid #DEE2E6;
    margin-top: 4px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight : bold;

}

.RowTable {
    padding-bottom: 5px;
    border-bottom: 1px solid #DEE2E6;
    margin-bottom: 5px;
}

.CellTable {
    margin: auto;
  
}

.EditZone {
    padding: 10px;
}