.HeaderTable{
    border-top: 1px solid #DEE2E6;
    border-bottom: 2px solid #DEE2E6;
    margin-top: 4px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight : bold;

}

.RowTable {
    padding-bottom: 5px;
    border-bottom: 1px solid #DEE2E6;
    margin-bottom: 5px;
}

.CellTable {
    margin: auto;
  
}

.EditZone {
    padding: 10px;
}

.searchBox {
    overflow-y: scroll;
    position: fixed;
    top: 125px;
    right: 0;
    bottom: 0;
    /* left: 0; */
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    padding: .5rem 1rem;
}

.grid-bth{
    
    width: 100%;
    margin-top: 0.6rem;


}

.searchBoxTop {
    
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.list-title {
    display: flex;
    justify-content : space-between;
   
    
}