
<div class="row">

  <div class="col-md-12">

    <ng-container *ngIf="creatorView; else viewCre">
      <table class="table" *ngIf="exercisesList">
        <thead class="thead-dark bg-primary">
          <tr>
        
                <th>Title</th>
                <th>Description</th>
                <th>Muscu</th>
                <th>Cardio</th>        
                <th>Balance</th>        
                <th>actions <button class="btn btn-warning" (click)="createExerciseViewOpen()">
                      <i  class="fa fa-pencil"></i>
                    </button>
                </th>
          </tr>        
        </thead>
        
        <tbody >

          

            
            
              <tr (dblclick)="editExercise(exercise)" *ngFor="let exercise of exercisesList; let i =index" id={{i}}>



                 <ng-container *ngIf="!editExercises.includes(exercise) && !viewExercises.includes(exercise) ; else editTD"> 
                  <td>{{exercise.title}}</td>
                  <td>{{exercise.description}}</td>
                  <td>{{exercise.params.muscu}}</td>
                  <td>{{exercise.params.cardio}}</td>
                  <td>{{exercise.params.balance}}</td>

                  <td>

                    <button class="btn btn-primary" (click)="viewExcerise(exercise)">
                      <i  class="fas fa-glasses"></i>
                    </button>
                    
                    <button class="btn btn-primary" (click)="editExercise($event, exercise)">
                      <i  class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger" (click)="deleteExercise(exercise)">
                      <i  class="fa fa-trash"></i>
                    </button>

                  </td>  
                 </ng-container> 
                
                <ng-template #editTD>

                  <ng-container *ngIf="editExercises.includes(exercise) ; else viewExcerise">
                    <td colspan="6">
                      <div class="row">
                        <div class="col-md-8 form-group">
                          <label for="title">Title</label>
                          <input type="text" name="title" id="title" (blur)="editExercise($event, exercise)" [(ngModel)]="exercise.title" placeholder="Title" class="form-control">
                        </div>
                        <div class="col-md-4 ActionButtons">
                            <button class="btn btn-success" (click)="doneEditing(exercise)">
                              <i  class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-danger" (click)="deleteExercise(exercise)">
                              <i  class="fa fa-trash"></i>
                            </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <label for="description">Description</label>
                          <editor [(ngModel)]="exercise.description" (onBlur)="editExercise($event, exercise)" name="description" id="description{{i}}" class="form-control"></editor>
                        </div>
                      </div>

                    
                      <div class="checklist row">


                          <div class="form-check col-md-3">
                            <ui-switch type="checkbox" size="small" name="muscu" id="muscu" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.muscu"  class="form-control-input"></ui-switch>
                            <!-- <input type="checkbox" name="muscu" id="muscu" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.muscu"  class="form-control-input"> -->
                            <label class="switch-label form-check-label" for="muscu">Muscu</label>
                          </div>
                      
                        <div class="form-group col-md-3">
                            <ui-switch type="checkbox" size="small" name="cardio" id="cardio" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.cardio" class="form-control-input"></ui-switch>
                            <label class="form-check-label" for="cardio">Cardio</label>
                        </div>
                        <div class="form-group col-md-3">
                          <ui-switch type="checkbox" size="small" name="balance" id="balance" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.balance" ></ui-switch>
                            <label class="form-check-label" for="balance">Balance</label>
                        </div>
                        <div class="form-group col-md-3">
                          <ui-switch type="checkbox" size="small" name="warmup" id="warmup" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.warmup" ></ui-switch>
                            <label class="form-check-label" for="warmup">Warmup ideal</label>
                        </div>
                      </div>
                      <div class="row media">
                        <div class="form-group col-md-12">
                                <app-file-upload 
                                  ExerciseId="{{exercise._id}}" 
                                  type="exercise" 
                                  maxFiles="4"
                                  maxSize="2"
                                  fileExt="JPG, GIF, PNG"
                                  (uploadStatus) = "getImage(exercise._id)"
                            
                                  >
                                </app-file-upload>
                        </div>


                      </div>

                      <div class="row media">
                         
                          <div class="image-container form-group col-md-3" *ngFor="let img of images">
                            <img  [src]="'http://localhost:3000/' + img.ImagePath" class="img-fluid img-thumbnail"  alt="">
                            <a (click)="removeImage(img)"><i class="far fa-trash-alt"  style="font-size: 48px;"></i></a>
                            

                          </div>
                            
                              
                            

                        
                      </div>
                      
                      <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-check-label" for="balance">Body part</label>
                            <select multiple class="form-control" id="bodyPart" [(ngModel)]="exercise.params.bodyPart" (click)="editExercise($event, exercise)">
                              <option *ngFor="let bp of bodyPart" [value]="bp" [selected]="exercise.params.bodyPart.includes(bp)">{{bp}}</option>  
                            </select>
                            
                        </div>
                        <div class="form-group col-md-6">
                          <label class="form-check-label" for="balance">Material</label>
                             <select multiple class="form-control" id="materialType" [(ngModel)]="exercise.material" (click)="editExercise($event, exercise)" >
                                <option *ngFor="let mt of materialType" [value]="mt" [selected]="exercise.material.includes(mt)">{{mt}}</option>
                  
                            </select>
                            
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <ng-template #viewExcerise>
                    <td colspan="6">
                      <div class="row">
                        <div class="col-md-8">
                          {{exercise.title}}
                        </div>
                        <div class="col-md-4 ActionButtons">
                            <button class="btn btn-success" (click)="doneEditing(exercise)">
                              <i  class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-danger" (click)="deleteExercise(exercise)">
                              <i  class="fa fa-trash"></i>
                            </button>
                        </div>
                      </div>

                      <div class="row media">
                        <div class="image-container form-group col-md-3" *ngFor="let img of images">
                          <img  [src]="'http://localhost:3000/' + img.ImagePath" class="img-fluid img-thumbnail"  alt="">
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="form-group col-md-12">
                          {{exercise.description}}
                        </div>
                      </div>

                      <div class="checklist row">


                          <div class="form-check col-md-3">
                            <ui-switch type="checkbox" size="small" name="muscu" id="muscu" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.muscu"  class="form-control-input"></ui-switch>
                            <!-- <input type="checkbox" name="muscu" id="muscu" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.muscu"  class="form-control-input"> -->
                            <label class="switch-label form-check-label" for="muscu">Muscu</label>
                          </div>
                      
                        <div class="form-group col-md-3">
                            <ui-switch type="checkbox" size="small" name="cardio" id="cardio" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.cardio" class="form-control-input"></ui-switch>
                            <label class="form-check-label" for="cardio">Cardio</label>
                        </div>
                        <div class="form-group col-md-3">
                          <ui-switch type="checkbox" size="small" name="balance" id="balance" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.balance" ></ui-switch>
                            <label class="form-check-label" for="balance">Balance</label>
                        </div>
                        <div class="form-group col-md-3">
                          <ui-switch type="checkbox" size="small" name="warmup" id="warmup" (change)="editExercise($event, exercise)" [(ngModel)]="exercise.params.warmup" ></ui-switch>
                            <label class="form-check-label" for="warmup">Warmup ideal</label>
                        </div>
                      </div>


                      <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-check-label" for="balance">Body part</label>
                            <select readonly multiple class="form-control" id="bodyPart" [(ngModel)]="exercise.params.bodyPart" (click)="editExercise($event, exercise)">
                              <option *ngFor="let bp of bodyPart" [value]="bp" [selected]="exercise.params.bodyPart.includes(bp)">{{bp}}</option>  
                            </select>
                            
                        </div>
                        <div class="form-group col-md-6">
                          <label class="form-check-label" for="balance">Material</label>
                             <select readonly multiple class="form-control" id="materialType" [(ngModel)]="exercise.material" (click)="editExercise($event, exercise)" >
                                <option *ngFor="let mt of materialType" [value]="mt" [selected]="exercise.material.includes(mt)">{{mt}}</option>
                  
                            </select>
                            
                        </div>
                      </div>


                    </td>


                    



                  </ng-template>
                </ng-template>

                 
               

              </tr>

          
        </tbody>
      </table>
        <div class="row pagination">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <!-- <nav aria-label="Page navigation"> -->
              <ul class="pagination justify-content-center" *ngIf="pagesInfo.totalPages > 1">
                <li class="page-item" [ngClass]="{'disabled': pagesInfo.currentPage === 1}" >
                  <a class="page-link"  href="#" (click)="getExercice(pagesInfo.previousPage)">Previous</a>
                </li>
                <li *ngFor="let page of pagesInfo.pages" [ngClass]="{'page-item':true, 'active':page === pagesInfo.currentPage}">
                  <a class="page-link"  (click)="getExercice(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': pagesInfo.currentPage === pagesInfo.totalPages}" >
                  <a class="page-link"  (click)="getExercice(pagesInfo.nextPage)">Next</a>
                </li>
              </ul>
        </div>
        <div class="col-md-2">
          
        </div>
        </div>
      
    </ng-container>
    <ng-template #viewCre>
      <div class="EditZone col-md-12">
                    <div class="row">
                      <div class="col-md-8 form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title"  [(ngModel)]="newExercise.title" placeholder="Title" class="form-control">
                      </div>
                      <div class="col-md-4 ActionButtons">
                          <button class="btn btn-success" (click)="submitExercise()">
                              <i  class="fa fa-check"></i>
                          </button>
                          <button class="btn btn-warning" (click)="createExerciseViewClose()">
                            <i  class="fa fa-angle-double-up"></i>
                          </button>                          

                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="description">Description</label>
                        <editor [(ngModel)]="newExercise.description"  name="description" id="description{{i}}" class="form-control"></editor>
                      </div>
                    </div>

                  
                    <div class="checklist row">


                        <div class="form-check col-md-3">
                          <ui-switch type="checkbox" size="small" name="muscu" id="muscu"  [(ngModel)]="newExercise.params.muscu"  class="form-control-input"></ui-switch>
                          <!-- <input type="checkbox" name="muscu" id="muscu" (change)="editExercise($event, exercise)" [(ngModel)]="newExercise.params.muscu"  class="form-control-input"> -->
                          <label class="switch-label form-check-label" for="muscu">Muscu</label>
                        </div>
                    
                      <div class="form-group col-md-3">
                          <ui-switch type="checkbox" size="small" name="cardio" id="cardio"  [(ngModel)]="newExercise.params.cardio" class="form-control-input"></ui-switch>
                          <label class="form-check-label" for="cardio">Cardio</label>
                      </div>
                      <div class="form-group col-md-3">
                        <ui-switch type="checkbox" size="small" name="balance" id="balance"  [(ngModel)]="newExercise.params.balance" ></ui-switch>
                          <label class="form-check-label" for="balance">Balance</label>
                      </div>
                      <div class="form-group col-md-3">
                        <ui-switch type="checkbox" size="small" name="warmup" id="warmup"  [(ngModel)]="newExercise.params.warmup" ></ui-switch>
                          <label class="form-check-label" for="warmup">Warmup ideal</label>
                      </div>
                    </div>
                    <div class="row media">
                      <div class="form-group col-md-12">
                              <app-file-upload 
                                ExerciseId="{{newExercise._id}}" 
                                type="exercise" 
                                maxFiles="4"
                                maxSize="2"
                                fileExt="JPG, GIF, PNG"
                                (uploadStatus) = "getImage(newExercise._id)"
                          
                                >
                              </app-file-upload>
                      </div>


                    </div>

                    <div class="row media">
                       
                        <div class="image-container form-group col-md-3" *ngFor="let img of images">
                          <img  [src]="'http://localhost:3000/' + img.ImagePath" class="img-fluid img-thumbnail"  alt="">
                          <a (click)="removeImage(img)"><i class="far fa-trash-alt"  style="font-size: 48px;"></i></a>
                          

                        </div>
                          
                            
                          

                      
                    </div>
                    
                    <div class="row">
                      <div class="form-group col-md-6">
                          <label class="form-check-label" for="balance">Body part</label>
                          <select multiple class="form-control" id="bodyPart" [(ngModel)]="newExercise.params.bodyPart" >
                            <option *ngFor="let bp of bodyPart" [value]="bp" [selected]="newExercise.params.bodyPart.includes(bp)">{{bp}}</option>  
                          </select>
                          
                      </div>
                      <div class="form-group col-md-6">
                        <label class="form-check-label" for="balance">Material</label>
                           <select multiple class="form-control" id="materialType" [(ngModel)]="newExercise.material"  >
                              <option *ngFor="let mt of materialType" [value]="mt" [selected]="newExercise.material.includes(mt)">{{mt}}</option>
                
                          </select>
                          
                      </div>
                    </div>
                  </div>


    </ng-template>

    
  </div>

</div>
