<nav class="navbar navbar-dark bg-primary sticky-top flex-md-nowrap  navbar-expand-lg p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">BootcampHelper</a>
<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <input class="form-control form-control-dark w-100" type="text" placeholder="search">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav px-3">
      <li class="nav-item dropdown text-nowrap">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Menu 
       </a>
        <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">

          <a *ngFor="let menu of menuApp.link;" class="dropdown-item" routerLink="/{{menu.adress}}" href="">{{menu.name}}</a>
        </div>
        
      </li>
 
    </ul>
  </div>

</nav>