<div *ngIf="loaded">
  <div class="rounds-container">
    <mat-form-field >
      <input matInput type="number" placeholder="number of repeat" [(ngModel)]="round.repeat" min="1" max="20" name="round.repeat">
      <mat-error *ngIf="round.repeat < 1 || round.repeat > 8 ">Min nb: 1</mat-error>
    </mat-form-field>

    <mat-form-field >
      <input matInput type="number" placeholder="drills duration" [(ngModel)]="round.drillsDuration" min="1" max="90" name="round.drillsDuration">
      <mat-error *ngIf="round.drillsDuration < 10 || round.drillsDuration > 90 ">Min nb: 1</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput type="number" placeholder="rest duration" [(ngModel)]="round.restDuration" min="1" max="20" name="round.restDuration">
      <mat-error *ngIf="round.restDuration < 5 || round.restDuration > 20 ">Min nb: 1</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput type="number" placeholder="number of exercises" (change)="updateExercisesNumber(i)" [(ngModel)]="round.exercisesNumber" min="0" max="20" name="round.exercisesNumber">
      <mat-error *ngIf="round.exercisesNumber < 1 || round.exercisesNumber > 10 ">Min nb: 1</mat-error>
    </mat-form-field>
  </div>
  <div cdkDropListGroup>
    <div class="round-configurator">

      <div class="exercise-selector-container">
        <div class="exercise-selector-header">
          <h6>Exercises selector :</h6>
          <span>Drag and drop to the rigth panel</span>
        </div>
        <div class="selector-filter" >
          <span style="ico-filter-selector" [ngClass]="{'active' : filter.any, 'inactive' : !filter.any}" placement="top" ngbTooltip="No filter">
            <i id="any" class="fab fa-creative-commons-zero" (click)="exerciseFilter($event)" ></i>
          </span>
           <span style="ico-filter-selector" [ngClass]="{'active' : filter.cardio, 'inactive' : !filter.cardio}" placement="top" ngbTooltip="Cardio">
            <i id="cardio" class="fas fa-heartbeat" (click)="exerciseFilter($event)"></i>
          </span>
           <span style="ico-filter-selector" [ngClass]="{'active' : filter.balance, 'inactive' : !filter.balance}" placement="top" ngbTooltip="Balance">
            <i id="balance" class="fas fa-balance-scale" (click)="exerciseFilter($event)"></i>
          </span>
           <span style="ico-filter-selector" [ngClass]="{'active' : filter.muscu, 'inactive' : !filter.muscu}" placement="top" ngbTooltip="Muscu">
            <i id="muscu" class="fas fa-dumbbell" (click)="exerciseFilter($event)"></i>
          </span>
           <span style="ico-filter-selector" [ngClass]="{'active' : filter.warmup, 'inactive' : !filter.warmup}" placement="top" ngbTooltip="Warmup oriented">
            <i id="warmup" class="fas fa-running" (click)="exerciseFilter($event)"></i>
          </span>

        </div>
        <div class="exercise-selector list-group" cdkDropList #exerciseList="cdkDropList"
              [cdkDropListData]="exercisesList"
               id="exercise-list-{{i}}">
          <div class="exercise-items list-group-item" *ngFor="let exercise of this.exercisesListFiltered" cdkDrag [cdkDragData]="exercise" (cdkDropListDropped)="drop2($event)">
              <i class="fas fa-bars"  cdkDragHandle></i>
              {{exercise.title}}
              <div class="exercise-details">
                <div>                                
                  <i id="cardio" class="fas fa-heartbeat" *ngIf="exercise.details.cardio" placement="top" ngbTooltip="Cardio"></i>
                  <i id="balance" class="fas fa-balance-scale" *ngIf="exercise.details.balance" placement="top" ngbTooltip="Balance"></i>
                  <i id="muscu" class="fas fa-dumbbell" *ngIf="exercise.details.muscu" placement="top" ngbTooltip="Muscu"></i>
                  <i id="warmup" class="fas fa-running" *ngIf="exercise.details.warmup" placement="top" ngbTooltip="Warmup oriented"></i>
                </div>
                <div>
                  <i id="images" class="fas fa-camera" bchTooltip [bchTooltipImg]="true"  [bchTooltipObjectId]="exercise._id" [bchTooltipTheme]="tooltip"></i>
                </div>

              </div>
              <div class="placeholder" *cdkDragPlaceholder>
                <i class="fas fa-bars"  cdkDragHandle></i>
                {{exercise.title}}
                <div class="exercise-details">
                  <div>                                
                    <i id="cardio" class="fas fa-heartbeat" *ngIf="exercise.details.cardio"></i>
                    <i id="balance" class="fas fa-balance-scale" *ngIf="exercise.details.balance"></i>
                    <i id="muscu" class="fas fa-dumbbell" *ngIf="exercise.details.muscu"></i>
                    <i id="warmup" class="fas fa-running" *ngIf="exercise.details.warmup"></i>
                  </div>
                  <div>
                    <i id="images" class="fas fa-camera"></i>
                  </div>                               
                </div> 
              </div>

          </div>
        </div>
      </div>
      <div class="rounds-exercises-container">
        <div class="header exercise-selector-header">
          <button type="button" (click)="addAlternative(i)" class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button>
          <span *ngFor="let user of round.exercisesMainUser" class="main-user">{{user.username}}</span>
        </div>
        <div class="exercise-selected dropzone" [ngClass]="dropAreaClass"  cdkDropList #doneList="cdkDropList"
            [cdkDropListData]="round.exercisesId"
            (cdkDropListDropped)="drop2($event, i, '')" id="exercise-droped-{{i}}">
            <ul>

              <li class="exerciseItemsSelected box" *ngFor="let exec of round.exercisesId; let v=index" cdkDragBoundary=".exercise-selected" cdkDrag>
                 <i class="fas fa-bars"  cdkDragHandle></i>
                {{exec.title}}
                <i class="fas fa-times delete" (click)="deleteExerciseSelected(i, v, 'main', 0)"></i>
                <div class="placeholder" *cdkDragPlaceholder></div>
            </li>
            </ul>
        </div>

      </div>
      

      <div class="rounds-exercises-container" *ngFor="let exAlt of round.exercisesAlternatives; let j = index" >
          <div class="header exercise-selector-header" >
            <mat-form-field>
              <mat-select placeholder="Participants" [compareWith]="compareAttendees" [(ngModel)]="round.exercisesAlternatives[j].usersId" multiple name="attendees" (selectionChange)="altUserSelection($event)">
              <mat-option *ngFor="let user of attendees" [value]="user">{{user.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button type="button" (click)="deleteExercisesAlternatives(i,j)" class="btn btn-success btn-sm"><i class="far fa-trash-alt"></i></button>
          </div>
          <div class="exercise-selected dropzone" [ngClass]="dropAreaClass" cdkDropList #doneListAlt="cdkDropList"
            [cdkDropListData]="round.exercisesAlternatives[j].exercisesAltId"
            (cdkDropListDropped)="drop2($event, i, j)"  id="alt-exercise-droped-{{i}}-{{j}}">
              <ul >
                <li class="exerciseItemsSelected box" *ngFor="let execAlt of exAlt.exercisesAltId; let v =index" cdkDrag>
                  <i class="fas fa-bars"  cdkDragHandle></i>
                  {{execAlt.title}} 
                  <i class="fas fa-times delete" (click)="deleteExerciseSelected(i, v, 'alt', j)"></i>
                  <div class="placeholder" *cdkDragPlaceholder></div>
              </li>
              </ul>
          </div>             
        
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loaded">
	it works
</div>
