/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'app/app.component.scss';
@import '~@angular/cdk/overlay-prebuilt.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    
    font-weight: 500 !important;
    height: 100%;
    width: 100%;
}


